<div class="row">

  <div class="col-md-12 text-left">
    <h1>Patients</h1>
    <%= link_to 'New Patient', new_patient_path %>
  </div>

  <div class="table-container">

    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @patients.each do |patient| %>
          <tr>
            <td><%= patient.first_name %></td>
            <td><%= patient.last_name %></td>
            <td><%= patient.telephone %></td>
            <td>
              <%= link_to 'View', patient_path(patient) %>
              <%= link_to 'Edit', edit_patient_path(patient) %>
              <%#= link_to "Delete", delete_patient_path(patient), method: :delete, data: { confirm: "Are you sure you want to delete this patient?" } %>
              <%= link_to "Delete",
                patient_path(patient),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %>
            </td>
          </tr>
          <tr class="spacer"></tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
