<h1>Patient Details</h1>

<p><strong>First Name:</strong> <%= @patient.first_name %></p>
<p><strong>Last Name:</strong> <%= @patient.last_name %></p>
<p><strong>Phone:</strong> <%= @patient.telephone %></p>
<p><strong>Problem:</strong> <%= @patient.problem %></p>
<p><strong>Address:</strong> <%= @patient.address %></p>
<br>
<br>
<% appointments = Appointment.where(patient_id: @patient.id) || [] %>
<% appointments.each do |app| %>
    <p><%= app.appointment_date.strftime('%B %d, %Y %H:%M') %> <%= app.user.first_name %> <%= app.user.last_name %> | <%= app.user.specialization.name %>
    <% if current_user.doctor == false %>
      <%= link_to "Edit", edit_user_patient_appointment_path(user_id: app.user.id, patient_id: app.patient.id, id: app.id) %> <%= link_to "Delete",
        appointment_path(app),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    <% end %>
    </p>
    <%#= app.appointment_date.strftime('%A, %B %d, %Y') %>

<% end %>

<%= link_to 'Back', patients_path %>
