<h1>Appointments</h1>

<%= link_to "Make an appointment", new_user_patient_appointment_path(user_id: @user.id, patient_id: Patient.last.id) %>
<div class="table-container">

  <% if @appointments.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Patient</th>
          <th>Doctor</th>
          <th>Specialization</th>
        </tr>
      </thead>
      <tbody>
        <% @appointments.order(appointment_date: :asc).each do |appointment| %>
          <tr>
            <td><%= appointment.appointment_date.strftime('%B %d, %Y %H:%M') %></td>
            <td><%= link_to "#{appointment.patient.first_name} #{appointment.patient.last_name}", patient_path(appointment.patient) %></td>
            <td><%= appointment.user.first_name %> <%= appointment.user.last_name %></td>
            <td><%= appointment.user.specialization.name %></td>
            <td><%= link_to "Edit", edit_user_patient_appointment_path(user_id: appointment.user.id, patient_id: appointment.patient.id, id: appointment.id) %></td>
            <td><%= link_to "Delete",
              appointment_path(appointment),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No appointments available.</p>
  <% end %>

</div>
