<h1>New Appointment</h1>

<%= form_with(model: @appointment, url: appointments_path, method: :post) do |form| %>
  <!-- Your form fields here -->
  <%= form.label :appointment_date %>
  <%= form.datetime_local_field :appointment_date %>

  <%= form.label :patient_id %>
  <%= form.collection_select :patient_id, @patients, :id, ->(patient) { "#{patient.first_name} #{patient.last_name}" }, prompt: "Select Patient" %>

  <%= form.label :user_id %>
  <%= form.collection_select :user_id, @doctors, :id, ->(doctor) { "#{doctor.first_name} #{doctor.last_name} | (#{doctor.specialization.name})" }, prompt: "Select Doctor" %>

  <%= form.submit %>
<% end %>
